@import "custom";

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  color: #4b4b4b;
  font-size: 100%; /* 16px on default browser settings */
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.55rem;
  font-weight: 400;
}

h3 {
  font-size: 1.55rem;
  font-weight: 500;
}

h3 a {
  font-weight: 400;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.35rem;
}

/* lessen rounding borders from cards and buttons */
.card,
.btn {
  border-radius: 0.2rem;
}

/**
* BACKGROUNDS
*/

.bg-basic {
  padding-bottom: 80px;
}

.bg-light-blue {
  padding-bottom: 50px;
  background-color: rgb(190, 230, 255);
}

.bg-light-yellow {
  padding-bottom: 50px;
  background-color: rgb(255, 250, 193);
}

.bg-light-green {
  padding-bottom: 50px;
  background-color: rgb(178, 255, 187);
}

.bg-light-purple {
  padding-bottom: 50px;
  background-color: rgb(194, 183, 255);
}

.bg-light-gray {
  padding-bottom: 50px;
  background-color: rgb(217, 217, 217);
}

.bg-dark {
  background-color: rgb(255,72,39);
}

.light-green {
  background-color: rgb(178, 255, 187);
}

/**
* BUTTONS
*/

.btn-success,
.btn-danger,
.btn-success:hover,
.btn-danger:hover,
.btn-outline-success:hover {
  border: 1px solid #4b4b4b;
}

.btn-primary {
  border: 1px solid #4b4b4b;
}

.btn-outline-secondary {
  color: #4b4b4b;
}

/* TODO: add the same to focus */
.btn-rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

div.btn-rounded-top.btn-light-gray.nav-item a.nav-link {
  background-color: rgb(217, 217, 217);
}

div.btn-rounded-top.btn-light-gray.nav-item a.nav-link.active {
  background-color: #fff;
}


/**
* ICON LINKS
*/

/* https://css-tricks.com/adding-shadows-to-svg-icons-with-css-and-svg-filters/ */
.back-link {
  transform: scale(2);
  fill: rgb(255, 255, 255);
  filter: drop-shadow(1px 2px 1px rgb(75, 75, 75));
}

.back-link:hover {
  fill: rgb(217, 217, 217);
}

.delete-link {
  transform: scale(2);
  fill: red;
}

.delete-link:hover {
  fill: rgb(217, 217, 217);
}

/**
* CARDS
*/

.card-body {
  padding: 0.75rem 0.75rem;
  cursor: pointer;
}

/*
.card.bg-light-gray {
  background-color: rgb(217, 217, 217);
}

.card.bg-light-gray:hover {
  background-color: rgb(255, 255, 255);
}
*/

/**
* HOME PAGE
*/

.bg-field {
  background-color: rgb(217, 217, 217);
  background-image: url("./media/landing-page-image-web-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sign-base {
  position: relative;
}

.sign {
  position: relative;
  z-index: 40;
}

.sign-right {
  margin-left: -1.8rem;
}

.sign-left {
  margin-right: -1.8rem;
}

.vertical-line {
  border-left: 14px solid #000;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: 0;
  z-index: 30;
}

.vertical-line-bottom {
  height: 50%;
}

/* PRODUCT LISTS */

.cart-button:hover,
.cart-button:active,
.cart-button:focus {
  background-color: rgb(190, 230, 255);
}

.light-blue {
  background-color: rgb(190, 230, 255);
}

/* CART */

.cart-panel {
  bottom: 0;
  padding-bottom: 55px;
}

/* PRODUCT PAGE */

.product-page-row {
  height: 100%;
}

/* MAP PAGE */

.light-yellow {
  background-color: rgb(255, 250, 193);
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.map-container {
  margin-bottom: 0px;
  height: 85vh;
}

.marker-event {
  color: rgb(70, 143, 3);
}

.marker-event:hover,
.marker-event:active {
  color: rgb(124, 231, 124);
}

.marker-seller {
  color: rgb(17, 17, 110);
}

.marker-seller:hover,
.marker-seller:active {
  color: rgb(154, 154, 230);
}

.popup-button {
  color: #fff;
}

.popup-card {
  border-width: 0;
}

.popup-text {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}

.market-popup {
  background-color: rgb(255, 250, 193);
}
/*
.leaflet-popup-content-wrapper,
.leaflet-popup.tip,
.market-popup {
}
*/

.organic-label-wrapper {
  position: absolute;
  bottom: 70%;
  left: 5%;
  z-index: 1;
}

.organic-label {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0px;
  background: rgb(232, 239, 66);
  color: rgb(75, 75, 75);
  text-align: center;
  font-weight: 500;
}

.organic-label-wrapper-op {
  position: absolute;
  bottom: 65%;
  left: 15%;
  z-index: 1;
}

.organic-label-op {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0px;
  background: rgb(232, 239, 66);
  color: rgb(75, 75, 75);
  text-align: center;
  font-weight: 500;
}

.organic-label-wrapper-pp {
  position: absolute;
  bottom: 80%;
  left: 25%;
  z-index: 1;
}

.organic-label-pp {
  border-radius: 15%;
  width: 72px;
  height: 32px;
  padding: 2px;
  background: rgb(232, 239, 66);
  border: 2px solid #fff;
  color: rgb(75, 75, 75);
  text-align: center;
  font-weight: 500;
}
