@import "custom";

body {
	font-family: "Work Sans", sans-serif;
	color: #4b4b4b;
	font-size: 100%; /* 16px on default browser settings */
	font-weight: 400;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
}

h2 {
	font-size: 1.55rem;
	font-weight: 400;
}

h3 {
	font-size: 1.55rem;
	font-weight: 500;
}

h3 a {
	font-weight: 400;
}

h4 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.5rem;
}

p {
	font-size: 1.25rem;
	line-height: 1.35rem;
}

/* lessen rounding borders from cards and buttons */
.card, .btn {
	border-radius: 0.2rem;
}

/**
* BACKGROUNDS
*/

.bg-purple {
	padding-bottom: 50px;
	background-color: rgb(108,99,255);
}

.bg-yellow {
	padding-bottom: 50px;
	background-color: rgb(158, 158, 149);
}

/* used for card button color, do not add padding */
.bg-light-gray {
	background-color: rgb(217,217,217);
}

/**
* BUTTONS
*/

.btn-success {
	color: #fff;
	border-color: #9fa2a4;
}

.btn-outline-secondary {
	color: #4b4b4b;
}

.btn-success:hover,
.btn-outline-success:hover {
	color: #fff;
}

.btn-outline-success:hover { 
	border-color: #9fa2a4;
}

/* TODO: add the same to focus */
.btn-rounded-top,
.btn-rounded-top .active {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/**
* ICON LINKS
*/

/* https://css-tricks.com/adding-shadows-to-svg-icons-with-css-and-svg-filters/ */
.back-link {
	transform: scale(2);
	fill: rgb(255,255,255);
	filter: drop-shadow(1px 2px 1px rgb(75,75,75)); 
}

.back-link:hover {
	fill: rgb(217,217,217);
}

.delete-link {
	transform: scale(2);
	fill: red;
}

.delete-link:hover {
	fill: rgb(217,217,217);
}

/**
* CARDS
*/

.card-body {
	padding: 0.75rem 0.75rem;
}

.card.bg-light-gray {
	background-color: rgb(217,217,217);
}

.card.bg-light-gray:hover {
	background-color: rgb(255,255,255);
}

/**
* HOME PAGE
*/

.bg-field {
	background-image: url("./media/field.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* custom home buttons */
.btn-blue {
	border: 5px solid #fff;
}

.btn-blue:hover {
	border: 5px solid #fff;
}

/* custom home sign */
.home-sign {
	background-color: rgb(93,64,55);
	color: #fff;
	border: 5px solid #fff;
	border-radius: 0.5rem;
}
