/*
body {
  background-color: #f8f9fa;
}

.custom-control-label::before {
  background-color: red;
}

.custom-switch .custom-control-label::after {
  background-color: white;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28a745;
}

a {
  color: currentColor;
}

Link {
  color: currentColor;
}
*/
