.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.map-container {
  padding-top: 10px;
  margin-bottom: 10px;
  height: 78%;
}

.marker-event {
  color: rgb(70, 143, 3);
}

.marker-event:hover,
.marker-event:active {
  color: rgb(124, 231, 124);
}

.marker-seller {
  color: rgb(17, 17, 110);
}

.marker-seller:hover,
.marker-seller:active {
  color: rgb(154, 154, 230);
}

.popup-button {
  color: white;
}

.popup-card {
  border-width: 0;
}
